<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngleSharp" version="0.16.0" targetFramework="net46" />
  <package id="cef.redist.x64" version="91.1.16" targetFramework="net452" />
  <package id="cef.redist.x86" version="91.1.16" targetFramework="net452" />
  <package id="CefSharp.Common" version="91.1.160" targetFramework="net452" />
  <package id="CefSharp.WinForms" version="91.1.160" targetFramework="net452" />
  <package id="FreeSpire.XLS" version="10.10.0" targetFramework="net46" />
  <package id="HtmlAgilityPack" version="1.11.34" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net46" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net46" />
  <package id="System.Text.Encoding.CodePages" version="5.0.0" targetFramework="net46" />
</packages>